/* Cor e imagem de fundo do body */

body {
  background-color:var(--terciaria);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

body.index {
  background-image: url("../../img/bg-img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

/* Alinhamento dos componentes + borda e padding */

#wrapper {
  text-align: center;
  border-radius: 10px;
  padding: 1rem;
}

/* Alinhamento geral */

form {
  align-items: center;
  justify-content: space-between;
}

label {
  align-self: flex-start;
  width: 100%;
  display: flex;
  align-items: center;
}

/* Formatação da fonte */

input {
  font-weight: bold;
}

/* Personalização dos botões */

button {
  margin: 0 0 1.5rem .5rem;
}

button:focus {
  background-color: var(--secundaria);
  border: var(--secundaria);
}
/* Margem dos ícones FontAwesome */

.fa {
  margin: 0 .5rem 1.5rem 0;
}
